
@{
    ViewBag.Title = "Sub Grupo One";
}

<br />
<div class="jumbotron">
    <h1>Sub Grupo One Index Index!</h1>
    <p>Index Index</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sub Grupo One Index Index</a></p>
</div>

@{
    Html.RenderPartial("Partial/_Data");
}
