
@{
    ViewBag.Title = " Page Test";
}

<h2> Page Test</h2>

<hr />

<div class="jumbotron">
    <h1 class="display-4"> We are in  Page Test!</h1>
    <p class="lead">We are in  Page Test. We are in  Page Test. We are in  Page Test. We are in  Page Test.</p>
    <hr class="my-4">
    <p>We are in  Page Test. We are in  Page Test. We are in  Page Test. We are in  Page Test. We are in  Page Test.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">We are in  Page Test.</a>
</div>