
@{
    ViewBag.Title = "Sub Group One";
}

<h2>Sub Group One</h2>

<hr />

<div class="jumbotron">
    <h1 class="display-4"> We are in Sub Group one!</h1>
    <p class="lead">We are in Sub Group one. We are in Sub Group one. We are in Sub Group one. We are in Sub Group one.</p>
    <hr class="my-4">
    <p>We are in Sub Group one. We are in Sub Group one. We are in Sub Group one. We are in Sub Group one. We are in Sub Group one.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">We are in Sub Group one.</a>
</div>