
@{
    ViewBag.Title = "Grupo One";
}

<br />
<div class="jumbotron">
    <h1>Grupo One Index Index!</h1>
    <p>Index Index</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Grupo One Index Index</a></p>
</div>

