
@{
    ViewBag.Title = "Index";
}

<h2>We are in area one</h2>

<div class="jumbotron">
    <h1 class="display-4">Area One!</h1>
    <p class="lead">We are in area one. We are in area one. We are in area one. We are in area one. We are in area one.</p>
    <hr class="my-4">
    <p>We are in area one. We are in area one. We are in area one. We are in area one. We are in area one.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">We are in area one.</a>
</div>

