
@{
    ViewBag.Title = "Page Sub Grupo Two";
}

<br />
<div class="jumbotron">
    <h1>Page Sub Grupo Two Index Index!</h1>
    <p>Index Index</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Page Sub Grupo Two Index Index</a></p>
</div>

@{
    Html.RenderPartial("Partial/_Data");
}
