
@{
    ViewBag.Title = "PaginaHome";
}

<h2>Pagina Home</h2>

<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Pagina Home</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Pagina Home</a>
    </div>
</div>

