
@{
    ViewBag.Title = " Area Sub Test";
}

<h2> Area Sub Test</h2>

<hr />

<div class="jumbotron">
    <h1 class="display-4"> We are in  Area Sub Test!</h1>
    <p class="lead">We are in  Area Sub Test. We are in  Area Sub Test. We are in  Area Sub Test. We are in  Area Sub Test.</p>
    <hr class="my-4">
    <p>We are in  Area Sub Test. We are in  Area Sub Test. We are in  Area Sub Test. We are in  Area Sub Test. We are in  Area Sub Test.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">We are in  Area Sub Test.</a>
</div>